In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [2]:
# 'mysql+pymysql://user:password@host:port/database'

my_conn = create_engine('mysql+pymysql://root:root1234@localhost:3306/henry_m3')
if my_conn:
    print('Conexion exitosa!!!')

Conexion exitosa!!!

In [3]:
canal_venta = pd.read_excel('CanalDeVenta.xlsx')
canal_venta

   CODIGO DESCRIPCION
0       1  Telefónica
1       2      OnLine
2       3  Presencial

In [4]:
canal_venta.to_csv('CanalDeVenta.csv', index=False)

In [5]:
productos = pd.read_excel('PRODUCTOS.xlsx')
productos

,ID_PRODUCTO,Concepto,Tipo,Precio
0,42737,EPSON COPYFAX 2000,IMPRESIÓN,1658.00
1,42754,MOT ASROCK H110M-HDS S1151 S/VGA,INFORMATICA,1237.50
2,42755,MOT ASROCK A58M-VG3+ AMD FM2+ R2.0,INFORMATICA,1079.32
3,42756,MOT ECS KAM1-I AM1,INFORMATICA,638.66
4,42757,MOT ASROCK B150M-HDS S1151 S/VGA,INFORMATICA,1784.42
...,...,...,...,...
286,43039,VALIJA NOTEBOOK CASE LOGIC INT-115 NEGRO,ESTUCHERIA,815.00
287,43040,VALIJA NOTEBOOK CASE LOGIC LODA-115 DRESS BLUE,ESTUCHERIA,757.00
288,43041,VALIJA NOTEBOOK CASE LOGIC LODA-115 GRAPHITE,ESTUCHERIA,779.00
289,43042,VALIJA NOTEBOOK CASE LOGIC LODA-115 PETROL GREEN,ESTUCHERIA,1121.00
290,43043,VALIJA NOTEBOOK CASE LOGIC VNAI-215 NEGRO,ESTUCHERIA,1159.00

In [6]:
productos.to_sql(name='producto',con=my_conn, if_exists='replace',index=False)

291

In [7]:
proveedor = pd.read_excel('Proveedores.xlsx')
proveedor

,IDProveedor,Nombre,Address,City,State,Country,departamen
0,1,NaN,BEREGUESTEIN 36,AVELLANEDA,BUENOS AIRES,ARGENTINA,AVELLANEDA
1,2,San Cirano,ALBERTI 965,CORONEL BRANDSEN,BUENOS AIRES,ARGENTINA,BRANDSEN
2,3,Bell S.A.,MORENO 331,CAMPANA,BUENOS AIRES,ARGENTINA,CAMPANA
3,4,Rivero Insumos,PTE. PERON 3872,VALENTIN ALSINA,BUENOS AIRES,ARGENTINA,LANUS
4,5,Laprida Computacion,AVDA. PEDRO PEREYRA 1339,LAPRIDA,BUENOS AIRES,ARGENTINA,LAPRIDA
5,6,Importadora Mann Kloss,LOPE DE VEGA 2102,BOCA DE ATENCION MONTE CASTRO,CABA,ARGENTINA,COMUNA 10
6,7,Fletes y Logistica,SANTA ROSA 1564,CORDOBA,CORDOBA,ARGENTINA,CAPITAL
7,8,NaN,SANTA ROSA 1564,CORDOBA,CORDOBA,ARGENTINA,CAPITAL
8,9,Via Chile Containers,JUAN B. JUSTO 415,MENDOZA,MENDOZA,ARGENTINA,CAPITAL
9,10,Full Toner,CORDOBA 246,MENDOZA,MENDOZA,ARGENTINA,CAPITAL
10,11,Via Chile Containers,VICEALTE O CONNOR 847,SAN CARLOS DE BARILOCHE,RIO NEGRO,ARGENTINA,BARILOCHE
11,12,Central Rosario SRL,SAN MARTIN 4816,ROSARIO,SANTA FE,ARGENTINA,ROSARIO
12,13,María Rivarola,SANTIAGO DEL ESTERO 1020,SAN MIGUEL DE TUCUMAN,TUCUMAN,ARGENTINA,CAPITAL
13,14,Río Full Net,BELGRANO 244,MONTEROS,TUCUMAN,ARGENTINA,MONTEROS

In [10]:
proveedor.rename(columns={'IDProveedor':'IdProveedor',
                            'Address':'Domicilio',
                            'City':'Ciudad',
                            'State':'Provincia',
                            'Country':'Pais',
                            'departamen':'Departamento'}, inplace=True)

In [11]:
proveedor

,IdProveedor,Nombre,Domicilio,Ciudad,Provincia,Pais,Departamento
0,1,NaN,BEREGUESTEIN 36,AVELLANEDA,BUENOS AIRES,ARGENTINA,AVELLANEDA
1,2,San Cirano,ALBERTI 965,CORONEL BRANDSEN,BUENOS AIRES,ARGENTINA,BRANDSEN
2,3,Bell S.A.,MORENO 331,CAMPANA,BUENOS AIRES,ARGENTINA,CAMPANA
3,4,Rivero Insumos,PTE. PERON 3872,VALENTIN ALSINA,BUENOS AIRES,ARGENTINA,LANUS
4,5,Laprida Computacion,AVDA. PEDRO PEREYRA 1339,LAPRIDA,BUENOS AIRES,ARGENTINA,LAPRIDA
5,6,Importadora Mann Kloss,LOPE DE VEGA 2102,BOCA DE ATENCION MONTE CASTRO,CABA,ARGENTINA,COMUNA 10
6,7,Fletes y Logistica,SANTA ROSA 1564,CORDOBA,CORDOBA,ARGENTINA,CAPITAL
7,8,NaN,SANTA ROSA 1564,CORDOBA,CORDOBA,ARGENTINA,CAPITAL
8,9,Via Chile Containers,JUAN B. JUSTO 415,MENDOZA,MENDOZA,ARGENTINA,CAPITAL
9,10,Full Toner,CORDOBA 246,MENDOZA,MENDOZA,ARGENTINA,CAPITAL
10,11,Via Chile Containers,VICEALTE O CONNOR 847,SAN CARLOS DE BARILOCHE,RIO NEGRO,ARGENTINA,BARILOCHE
11,12,Central Rosario SRL,SAN MARTIN 4816,ROSARIO,SANTA FE,ARGENTINA,ROSARIO
12,13,María Rivarola,SANTIAGO DEL ESTERO 1020,SAN MIGUEL DE TUCUMAN,TUCUMAN,ARGENTINA,CAPITAL
13,14,Río Full Net,BELGRANO 244,MONTEROS,TUCUMAN,ARGENTINA,MONTEROS

In [12]:
proveedor.to_sql(name='proveedor',con=my_conn,if_exists='append',index=False)

14

In [13]:
empleado = pd.read_excel('Empleados.xls')
empleado

,ID_empleado,Apellido,Nombre,Sucursal,Sector,Cargo,Salario
0,1968,Burgos,Jeronimo,Caseros,Administración,Administrativo,32000
1,1674,Villegas,Estefania,Caseros,Administración,Vendedor,32000
2,1516,Fernandez,Guillermo,Caseros,Administración,Vendedor,45000
3,1330,Ramirez,Eliana,Caseros,Administración,Vendedor,32000
4,1657,Carmona,Jose,Caseros,Administración,Vendedor,32000
...,...,...,...,...,...,...,...
262,3043,Higuita,Jacobo,Bariloche,Administración,Vendedor,13500
263,3205,Osorio,Gabriel,Bariloche,Administración,Vendedor,12800
264,3545,Gomez,Sandra,Bariloche,Administración,Técnico,13500
265,3842,Bustos,Evelyn,Bariloche,Administración,Aux. Administrativo,13500
266,3032,Rodas,Juan,Bariloche,Administración,Administrativo,56000

In [14]:
empleado.to_sql(name='empleado',con=my_conn,if_exists='append',index=False)

267